.cart-container {
    display: none;
    width: 400px;
    height: 300px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: #ffffff;
    z-index: 10;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    overflow-y: auto;
}

    .cart-item {
        background-color: rgb(255, 255, 255);
        align-items: baseline;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .cart-item_title {
            color: rgb(0, 0, 0);
            margin-right: 10px;
            display: block;
        }

        .cart-item_price {
            margin-right: 10px;
            display: block;
        }

        .item-img {
            height: 70px;
            overflow: hidden;
            display: block;
        }

        .delete-item {
            display: block;
            width: 50px;
            height: 50px;
            top: -6px;
            right: 10px;
            background: rgb(23, 23, 23);
            font-size: 50px;
            font-weight: 100;
            border: none;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            transition: 0.4s;
        }

        .delete-item:hover{
            background-color: #5d585d;
            transform: scale(110%);
        }

        .delete-item::before {
                content: "×";
                right: 8px;
    top: -16px;
                color: white;
                position: absolute;

            }


    
    button {
        margin: auto;
        height: 50px;
        padding: 11px 32px 15px;
        border-radius: 20px;
        border: none;
        color: white;
        font-size: 16px;
        background: #171617;
        cursor: pointer;
        transition: 0.4s;
        margin-top: 10px;
    }

    button:hover{
background-color: rgb(90, 14, 90);
    }

.none-cart {
    display: none;
}

.cart-container.active{
display: block;
}