.search input{
display: flex;
width: 382px;
padding: 12px 24px;
align-items: center;
border-radius: 16px;
background: rgba(95, 95, 95, 0.35);
outline: none;
border: none;
color: rgba(255, 255, 255, 0.50);
font-family: Quicksand;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}